__pycache__/
*.py[cod]

.git/
.venv/
venv/
frontend/node_modules/
downloads/

jobs/
runtime/
inputs/
tmp/
tmp1/
tmp_build/
tmp_images/
config/
out/

*.log
*.onnx
*.pt
*.pth
*.axmodel
*.cvimodel
*.mud
*.tar
*.tar.gz
*.tgz
*.zip
